.page {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#fcfaf9 20%, #2edf84);
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  width: 500px;
  max-width: 90%;
  padding: 20px;
  font-size: 24px;
  font-family: monospace;
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 15px #132A13;
  outline: none;
  transition: box-shadow 0.3s;
}

.search-box:focus {
  box-shadow: 0 2px 10px #132A13;
}
